* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "kanitSemibold";
  src: url("../fonts/KanitLato/Kanit/Kanit-SemiBold.ttf");
}

@font-face {
  font-family: "kanitRegular";
  src: url("../fonts/KanitLato/Kanit/Kanit-Regular.ttf");
}

@font-face {
  font-family: "latoBold";
  src: url("../fonts/KanitLato/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "kanitMedium";
  src: url("../fonts/KanitLato/Kanit/Kanit-Medium.ttf");
}
@font-face {
  font-family: "latoRegular";
  src: url("../fonts/KanitLato/Lato/Lato-Regular.ttf");
}

/*IMAGEN HEADER*/
.fila-imagen-home,
.img-home {
  width: 100%;
}

.container-textoImg-home {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 47.6%;
  transform: translate(-73%, -28%);
  color: #ffffff;
}

.titulo-img-home {
  font-family: "kanitSemibold";
  font-size: 4.5rem;
}

.subtitulo-img-home {
  font-family: "kanitRegular";
  font-size: 1.8rem;
}

.texto-img-home {
  font-family: "latoBold";
  font-size: 0.7rem;
}

.boton-img-home {
  font-family: "kanitRegular";
  background-color: #d2153d;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border: none;
  font-size: 1rem;
  margin-top: 2rem;
}

.boton-img-home:hover {
  background-color: #f81847;
  font-weight: lighter;
}
/*IMAGEN HEADER*/

/*BOX EXPERIENCIA*/
.container-experiencia {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  height: 22rem;
}

.boxUno {
  background-color: #00215b;
  color: #ffffff;
  width: 13rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.7rem;
  padding-bottom: 1rem;
}

.num-box {
  font-family: "kanitSemibold";
  font-size: 4rem;
  height: 55%;
}

.texto-box {
  font-family: "kanitRegular";
  font-size: 0.8rem;
}

.boxDos {
  background-color: #d2153d;
  color: #ffffff;
  width: 13rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.7rem;
  padding-bottom: 1rem;
}

.boxTres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 24rem;
  background-color: #ffffff;
  transform: translate(-5%, -36%);
  border-top: solid 5px #001ed3;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
  padding: 3rem;
}

.titulo-box-tres {
  color: #00215b;
  font-family: "kanitMedium";
  font-size: 1.5rem;
}
/*BOX EXPERIENCIA*/

/*BOX DATA*/
.box-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-data img {
  width: 3rem;
  margin-right: 1rem;
}

.subtitulo-boxTres {
  color: #00215b;
  font-family: "kanitMedium";
  font-size: 0.8rem;
}

.parrafo-boxTres {
  font-family: "latoRegular";
  color: #41444b;
  font-size: 0.7rem;
  margin-top: 0.3rem;
}
/*BOX DATA*/

/*BOX HOME NOSOTROS*/
.container-home-nosotros {
  height: 30rem;
}

.fila-home-nosotros {
  padding-left: 7rem;
  padding-right: 7rem;
  height: 100%;
}

.columna-home-nosotros__texto {
  padding-top: 1rem;
}

.imagen-home-nosotrosUno img {
  width: 19rem;
  margin-left: 10rem;
  border: 10px #ffffff solid;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
}

.imagen-home-nosotrosDos img {
  width: 13rem;
  border: 10px #ffffff solid;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
  transform: translate(25%, -60%);
}

.titulo-home-nosotros {
  font-family: "kanitMedium";
  color: #d2153d;
  font-size: 0.6rem;
  font-weight: bold;
}

.subtitulo-home-nosotros {
  font-family: "kanitSemibold";
  color: #16213e;
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.subtituloDos-home-nosotros {
  font-family: "latoBold";
  color: #00215b;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.parrafo-home-nosotros {
  font-family: "latoRegular";
  color: #41444b;
  font-size: 0.7rem;
  line-height: 1.4rem;
}
/*BOX HOME NOSOTROS*/

/*CARDS*/

.fila-card {
  height: 30rem;
  text-align: center;
}

.div-card-uno img {
  height: 25rem;
  display: block;
  width: 100%;
  margin: 0;
}

.div-card img {
  height: 25rem;
  display: block;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 1;
  filter: grayscale(1);
}

.overlay-container-rojo {
  position: relative;
  background-color: rgba(210, 21, 61, 0.85);
}

.overlay-container-azul {
  position: relative;
  background-color: rgba(0, 33, 91, 0.85);
}
.overlay-text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  padding: 1rem;
  z-index: 2;
}
.overlay-text h3 {
  font-family: "kanitSemibold";
  font-size: 1.3rem;
}

.overlay-text p {
  font-family: "latoRegular";
  font-size: 0.8rem;
}
