* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "kanitSemibold";
  src: url("../fonts/KanitLato/Kanit/Kanit-SemiBold.ttf");
}

@font-face {
  font-family: "kanitRegular";
  src: url("../fonts/KanitLato/Kanit/Kanit-Regular.ttf");
}

@font-face {
  font-family: "latoBold";
  src: url("../fonts/KanitLato/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "kanitMedium";
  src: url("../fonts/KanitLato/Kanit/Kanit-Medium.ttf");
}

@font-face {
  font-family: "latoRegular";
  src: url("../fonts/KanitLato/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "kenitLigth";
  src: url("../fonts/KanitLato/Kanit/Kanit-Light.ttf");
}

/*IMAGEN HEADER*/
.fila-imagen-home,
.img-home {
  width: 100%;
}

.container-textoImg-home {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 47.6%;
  transform: translate(-73%, -28%);
  color: #ffffff;
}

.titulo-img-home {
  font-family: "kanitSemibold";
  font-size: 4.5rem;
}

.subtitulo-img-home {
  font-family: "kanitRegular";
  font-size: 1.8rem;
}

.texto-img-home {
  font-family: "latoBold";
  font-size: 0.7rem;
}

.boton-img-home {
  font-family: "kanitRegular";
  background-color: #d2153d;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border: none;
  font-size: 1rem;
  margin-top: 2rem;
}

.boton-img-home:hover {
  background-color: #f81847;
  font-weight: lighter;
}
/*IMAGEN HEADER*/

/*BOX EXPERIENCIA*/
.container-experiencia {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  height: 22rem;
}

.boxUno {
  background-color: #00215b;
  color: #ffffff;
  width: 13rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.7rem;
  padding-bottom: 1rem;
}

.num-box {
  font-family: "kanitSemibold";
  font-size: 4rem;
  height: 55%;
}

.texto-box {
  font-family: "kanitRegular";
  font-size: 0.8rem;
}

.boxDos {
  background-color: #d2153d;
  color: #ffffff;
  width: 13rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.7rem;
  padding-bottom: 1rem;
}

.boxTres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 24rem;
  background-color: #ffffff;
  transform: translate(-5%, -36%);
  border-top: solid 5px #001ed3;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
  padding: 3rem;
}

.titulo-box-tres {
  color: #00215b;
  font-family: "kanitMedium";
  font-size: 1.5rem;
}
/*BOX EXPERIENCIA*/

/*BOX DATA*/
.box-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-data img {
  width: 3rem;
  margin-right: 1rem;
}

.subtitulo-boxTres {
  color: #00215b;
  font-family: "kanitMedium";
  font-size: 0.8rem;
}

.parrafo-boxTres {
  font-family: "latoRegular";
  color: #41444b;
  font-size: 0.7rem;
  margin-top: 0.3rem;
}
/*BOX DATA*/

/*BOX HOME NOSOTROS*/
.container-home-nosotros {
  height: 30rem;
  margin-bottom: 2rem;
}

.fila-home-nosotros {
  padding-left: 7rem;
  padding-right: 7rem;
  height: 100%;
}

.columna-home-nosotros__texto {
  padding-top: 1rem;
}

.imagen-home-nosotrosUno img {
  width: 19rem;
  margin-left: 10rem;
  border: 10px #ffffff solid;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
}

.imagen-home-nosotrosDos img {
  width: 13rem;
  border: 10px #ffffff solid;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
  transform: translate(25%, -60%);
}

.titulo-home-nosotros {
  font-family: "kanitMedium";
  color: #d2153d;
  font-size: 0.6rem;
  font-weight: bold;
}

.subtitulo-home-nosotros {
  font-family: "kanitSemibold";
  color: #16213e;
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.subtituloDos-home-nosotros {
  font-family: "latoBold";
  color: #00215b;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.parrafo-home-nosotros {
  font-family: "latoRegular";
  color: #41444b;
  font-size: 0.7rem;
  line-height: 1.4rem;
}
/*BOX HOME NOSOTROS*/

/*CARDS*/

.container-cards-home {
  overflow-x: hidden;
}

.fila-card {
  height: 30rem;
  text-align: center;
}

.div-card-uno img {
  height: 25rem;
  display: block;
  width: 100%;
  margin: 0;
}

.div-card img {
  height: 25rem;
  display: block;
  width: 100%;
  margin: 0;
  position: relative;

  filter: grayscale(1);
}

.overlay-container-rojo {
  position: relative;
  background-color: rgba(210, 21, 62, 0.85);
}

.overlay-container-azul {
  position: relative;
  background-color: rgba(0, 33, 91, 0.85);
}

.overlay-text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  padding: 2rem;
  z-index: 2;
}

.overlay-text h3 {
  font-family: "kanitSemibold";
  font-size: 1.5rem;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-bottom: 2rem;
  line-height: 2rem;
}

.overlay-text p {
  font-family: "latoRegular";
  font-size: 0.7rem;
  color: rgba(212, 215, 221, 1);
  line-height: 1.2rem;
}

.card-flecha-azul {
  background-color: #00215b;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  padding-top: 0.2rem;
  position: absolute;
  top: 85%;
  left: 80%;
}

.card-flecha-roja {
  background-color: #d2153d;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  padding-top: 0.2rem;
  position: absolute;
  top: 85%;
  left: 80%;
}
/*CARDS*/

/*GALERIA TRABAJOS*/

.fila-home-trabajos {
  text-align: center;
}

.titulo-home-trabajos {
  font-family: "kanitMedium";
  color: #d2153d;
  font-size: 0.6rem;
  font-weight: bold;
}

.subtitulo-home-trabajos {
  font-family: "kanitSemibold";
  color: #16213e;
  padding-bottom: 1rem;
  font-size: 2.3rem;
  text-align: center;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.photos .galeria-trabajos {
  max-width: 50rem;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px;
  grid-gap: 1rem;
}

.photos .galeria-trabajos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photos .galeria-trabajos .img-a {
  grid-row: 1/3;
}
/*GALERIA TRABAJOS*/

/*MEDIA QUERIES*/

/* Para pantallas de tamaño medio (tablets y pantallas medianas) */
@media (max-width: 768px) {
  /*IMAGEN HEADER*/
  .container-textoImg-home {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .titulo-img-home {
    font-size: 2.5rem;
  }

  .subtitulo-img-home {
    font-size: 1rem;
  }

  .texto-img-home {
    font-size: 0.7rem;
  }

  .boton-img-home {
    font-size: 0.9rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 0.7rem;
  }
  /*IMAGEN HEADER*/

  /*BOX EXPERIENCIA*/

  .container-experiencia {
    height: 17.5rem;
  }
  .boxUno {
    width: 9rem;
    height: 7rem;
    padding-bottom: 0.5rem;
  }

  .num-box {
    font-size: 2.5rem;
    height: 55%;
  }

  .texto-box {
    font-size: 0.5rem;
  }

  .boxDos {
    width: 9rem;
    height: 7rem;
    padding-left: 1.7rem;
    padding-bottom: 0.5rem;
  }

  .boxTres {
    width: 19rem;
    height: 22rem;

    padding: 2.5rem;
  }

  .titulo-box-tres {
    font-size: 1rem;
  }

  .box-data img {
    width: 2.4rem;
    margin-right: 1rem;
  }

  .subtitulo-boxTres {
    font-size: 0.7rem;
  }

  .parrafo-boxTres {
    font-size: 0.5rem;
    margin-top: 0.2rem;
  }
  /*BOX EXPERIENCIA*/

  /*SOBRE NOSOTROS*/

  .container-home-nosotros {
    height: 45rem;
    margin-bottom: 0.4rem;
  }

  .imagen-home-nosotrosUno img {
    width: 13rem;
    margin-left: 11rem;
  }

  .imagen-home-nosotrosDos img {
    width: 10rem;
    transform: translate(65%, -60%);
  }

  .titulo-home-nosotros {
    font-size: 0.5rem;
  }

  .subtitulo-home-nosotros {
    font-size: 2rem;
  }

  .subtituloDos-home-nosotros {
    font-size: 0.7rem;
  }

  .parrafo-home-nosotros {
    font-size: 0.6rem;
    line-height: 1.3rem;
  } /*SOBRE NOSOTROS*/

  /*CARDS*/

  .fila-card {
    flex-direction: column;
    width: 15rem;
  }

  .fila-card .col {
    width: 80%;
  }

  .col-imagen-uno {
    display: none;
  }

  .div-card img {
    height: 23rem;
  }

  .overlay-text h3 {
    font-size: 1.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0rem;
    line-height: 1.2rem;
  }

  .overlay-text p {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  /*CARDS*/

  /*GALERIA*/
  /* .titulo-home-trabajos {
      font-size: 0.4rem;
    }
  
    .subtitulo-home-trabajos {
      padding-bottom: 1rem;
      font-size: 1.4rem;
    }
  
    .photos .galeria-trabajos {
      grid-template-columns: 150px 150px;
      grid-template-rows: 150px 150px 150px;
    } */

  /*GALERIA*/
}

/* -------------------------------------------------------------------------*/
/*Para pantallas pequeñas (smartphones) */
@media (max-width: 375px) {
  /*IMAGEN HEADER*/

  .container-textoImg-home {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .titulo-img-home {
    font-size: 1rem;
  }

  .subtitulo-img-home {
    font-size: 0.6rem;
  }

  .texto-img-home {
    font-size: 0.5rem;
  }

  .boton-img-home {
    font-size: 0.3rem;
    margin-top: 0.4rem;
    padding: 0.4rem 1.5rem 0.3rem 1.5rem;
    font-size: 0.4rem;
  }
  /*IMAGEN HEADER*/

  /*BOX EXPERIENCIA*/
  .container-experiencia {
    flex-direction: column;
    margin-left: 2.5rem;
    height: 20rem;
  }

  .boxTres {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    margin-top: 0.4rem;
    margin-left: 2rem;
    width: 15rem;
    padding: 1rem;
    height: auto;
  }

  .titulo-box-tres {
    font-size: 0.9rem;
  }

  .boxUno,
  .boxDos {
    display: none;
  }

  .box-data {
    justify-content: start;
  }

  .box-data img {
    width: 2rem;
    margin-right: 1rem;
  }

  .subtitulo-boxTres {
    font-size: 0.5rem;
  }

  .parrafo-boxTres {
    font-size: 0.5rem;
    margin-top: 0.1rem;
  }
  /*BOX EXPERIENCIA*/

  /*SOBRE NOSOTROS*/
  .container-home-nosotros {
    height: 35rem;
    margin-bottom: 1rem;
  }

  .fila-home-nosotros {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .imagen-home-nosotrosUno img {
    width: 9rem;
    margin-left: 6.5rem;
    border: 5px #ffffff solid;
  }
  .imagen-home-nosotrosDos img {
    width: 7rem;
    border: 5px #ffffff solid;
    transform: translate(40%, -40%);
  }

  .titulo-home-nosotros {
    font-size: 0.4rem;
  }

  .subtitulo-home-nosotros {
    padding-bottom: 0.7rem;
    font-size: 1.4rem;
  }

  .subtituloDos-home-nosotros {
    font-size: 0.6rem;
    padding-bottom: 0.7rem;
  }

  .parrafo-home-nosotros {
    font-size: 0.5rem;
    line-height: 1rem;
  } /*SOBRE NOSOTROS*/

  /*CARDS*/
  .container-cards-home {
    display: none;
  } /*CARDS*/

  /*GALERIA*/
  .titulo-home-trabajos {
    font-size: 0.4rem;
  }

  .subtitulo-home-trabajos {
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }

  .photos .galeria-trabajos {
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px 150px;
  }

  /*GALERIA*/
}
