/*INFO PETRO*/

.fila-home-infoPetro {
  padding-left: 3rem;
  padding-right: 3rem;
}

.columna-home-infoPetro {
  display: flex;
  justify-content: center;
}

.icono-home-infoPetro img {
  width: 3rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.container-home-infoDir {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 21rem;
  height: 14rem;
  background-color: #ffffff;
  transform: translate(8%, -55%);
  border-top: solid 5px #d2153d;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
  padding: 2.5rem 1rem 2rem 2rem;
  margin-left: 5.8rem;
}

.texto-infoPetro {
  color: #41444b;
  font-family: "kenitLigth";
  font-size: 0.6rem;
  padding-bottom: 0.3rem;
}

.subtexto-infoPetro {
  color: #00215b;
  font-family: "kanitMedium";
  font-size: 1.6rem;
  font-weight: 500;
}

.datos-infoPetro {
  font-family: "kanitRegular";
  color: #16213e;
  font-size: 1rem;
}

.texto-infoPetro-datos {
  color: #41444b;
  font-family: "kenitLigth";
  font-size: 0.6rem;
}
/*INFO PETRO*/

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .container-home-infoDir {
    width: 14rem;
    height: 10rem;
    padding: 2rem 1rem 1.8rem 1rem;
    margin-left: 1.5rem;
  }

  .texto-infoPetro {
    padding-bottom: 0.1rem;
  }

  .subtexto-infoPetro {
    font-size: 1.3rem;
  }

  .icono-home-infoPetro img {
    margin-bottom: 2rem;
  }
  .fila-home-infoPetro {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .columna-home-infoPetro {
    justify-content: center;
  }

  .container-home-infoDir {
    width: 14rem;
    height: 10rem;
    padding: 2rem 1rem 1.8rem 1rem;
    margin-left: 0.1rem;
  }

  .texto-infoPetro {
    font-size: 0.5rem;
    padding-bottom: 0.1rem;
  }

  .subtexto-infoPetro {
    font-size: 1.3rem;
  }

  .icono-home-infoPetro img {
    width: 2.2rem;
    margin-bottom: 2rem;
  }

  .datos-infoPetro {
    font-size: 0.8rem;
  }
}
