* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "kanitBold";
  src: url("../fonts/KanitLato/Kanit/Kanit-Bold.ttf");
}

@font-face {
  font-family: "kanitExtraL";
  src: url("../fonts/KanitLato/Kanit/Kanit-ExtraLight.ttf");
}
@font-face {
  font-family: "latoItalic";
  src: url("../fonts/KanitLato/Lato/Lato-Italic.ttf");
}

div .container-sobreN {
  margin: 0;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.div-img-sobreN {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.div-img-sobreN img {
  width: 18rem;
}

.fila-sobreN {
  display: flex;
  flex-direction: column;
}

.titulo-sobreN {
  font-family: "kanitMedium";
  color: #d2153d;
  font-size: 0.6rem;
  font-weight: bold;
}

.subtitulo-sobreN {
  font-family: "kanitSemibold";
  color: #000000;
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.parrafo-sobreN {
  font-family: "latoRegular";
  color: #000000;
  font-size: 0.7rem;
  line-height: 1.4rem;
  padding-left: 2rem;
  padding-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fila-imagen-sobreNdos {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.img-pages-sobreNdos {
  width: 100%;
  height: auto;
  display: block;
}

.fila-textoImg-sobreNdos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo-sobreN-img {
  font-family: "latoRegular";
  color: #ffffff;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.subtitulo-sobreN-img {
  font-family: "kanitSemibold";
  color: #ffffff;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
}

.parrafo-sobreN-img {
  font-family: "latoRegular";
  color: #ffffff;
  font-size: 0.9rem;
}

.boton-img-sobreN {
  font-family: "kanitRegular";
  background-color: #d2153d;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border: none;
  font-size: 1rem;
  margin-top: 0.2rem;
}

.boton-img-sobreN:hover {
  background-color: #f81847;
  font-weight: lighter;
}

.cajas-sobreN {
  width: 100vw;
  height: auto;
}

.fila-cajas-numero {
  position: absolute;
  top: 90%;
  left: 0%;
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.caja-numeros-sobreN {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-left: 3rem;
  background-color: #ffffff;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
}

.cajaNumSobre span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #d2153d;
  color: #ffffff;
  font-family: "kanitBold";
  font-size: 1.8rem;
  margin-right: 1rem;
}

.titulo-caja-imagenNos {
  font-family: "kanitBold";
  color: #00215b;
  font-size: 1rem;
}

.texto-caja-imagenNos {
  font-family: "kanitBold";
  color: #000000;
  font-family: "kanitExtraL";
  font-size: 0.9rem;
}

.caja-texto-sobreN {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.boxInstalacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 24rem;
  padding: 3rem;
}

.caja-form-instalacion {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.fila-form-instalacion {
  width: 100%;
  padding-left: 8rem;
}

.subtitulo-sobreN-form {
  font-family: "kanitSemibold";
  color: #00215b;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.input-text {
  font-family: "latoItalic";
  color: #000000;
  margin-bottom: 1.8rem;
}

.text-area {
  height: 20rem;
}

/*MEDIA QUERIES*/

@media (max-width: 768px) {
  div .container-sobreN {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  .div-img-sobreN {
    justify-content: center;
    padding-right: 0rem;
  }

  .div-img-sobreN img {
    width: 15rem;
    margin-bottom: 1.5rem;
  }

  .subtitulo-sobreN {
    font-size: 1.4rem;
  }

  .parrafo-sobreN {
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .fila-sobreN {
    padding-left: 0rem;
  }

  .titulo-sobreN-img {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }

  .fila-textoImg-sobreNdos {
    top: 55%;
  }

  .subtitulo-sobreN-img {
    padding-bottom: 0rem;
    font-size: 1.5rem;
  }

  .parrafo-sobreN-img {
    font-size: 0.7rem;
  }

  .boton-img-sobreN {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    font-size: 0.8rem;
  }

  .caja-numeros-sobreN {
    width: 400px;
    height: 100px;
    margin-left: 3rem;
  }

  .cajaNumSobre span {
    width: 40px;
    height: 40px;

    font-size: 1.2rem;
  }

  .titulo-caja-imagenNos {
    font-size: 0.8rem;
  }

  .texto-caja-imagenNos {
    font-size: 0.7rem;
  }
  .caja-form-instalacion {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  .fila-form-instalacion {
    padding-left: 1rem;
    padding-right: 0rem;
  }

  .boxInstalacion {
    width: 19rem;
    height: 24rem;
    padding-right: 1rem;
  }
}

@media (max-width: 480px) {
  div .container-sobreN {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }

  .div-img-sobreN {
    justify-content: center;
    padding-right: 0rem;
  }

  .div-img-sobreN img {
    width: 10rem;
    margin-bottom: 1.5rem;
  }

  .titulo-sobreN {
    font-size: 0.4rem;
  }
  .subtitulo-sobreN {
    font-size: 1.4rem;
  }

  .parrafo-sobreN {
    font-size: 0.5rem;
    line-height: 1rem;
    padding-left: 2rem;
    padding-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .fila-sobreN {
    padding-left: 1.5rem;
  }

  .titulo-sobreN-img {
    font-size: 0.5rem;
    padding-bottom: 0rem;
  }

  .fila-textoImg-sobreNdos {
    top: 55%;
  }

  .subtitulo-sobreN-img {
    padding-bottom: 0rem;
    font-size: 1rem;
  }

  .parrafo-sobreN-img {
    font-size: 0.5rem;
  }

  .boton-img-sobreN {
    display: none;
  }

  .fila-cajas-numero {
    top: 120%;
  }

  .caja-numeros-sobreN {
    width: 180px;
    height: 80px;
    margin-bottom: 2rem;
  }

  .cajaNumSobre span {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }

  .titulo-caja-imagenNos {
    font-size: 0.8rem;
  }

  .caja-form-instalacion {
    width: 100%;
    margin-top: 23rem;
    margin-bottom: 2rem;
  }

  .fila-form-instalacion {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .subtitulo-sobreN-form {
    font-size: 0.8rem;
  }

  .input-text {
    margin-bottom: 1.6rem;
  }

  .boxInstalacion {
    width: 20rem;
    height: 15rem;
    padding: 0rem;
  }
}
