* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div .container-sobreN {
  margin: 0;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.div-img-sobreN {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.div-img-sobreN img {
  width: 18rem;
}
.fila-sobreN {
  display: flex;
  flex-direction: column;
}

.titulo-sobreN {
  font-family: "kanitMedium";
  color: #d2153d;
  font-size: 0.6rem;
  font-weight: bold;
}

.subtitulo-sobreN {
  font-family: "kanitSemibold";
  color: #000000;
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.parrafo-sobreN {
  font-family: "latoRegular";
  color: #000000;
  font-size: 0.7rem;
  line-height: 1.4rem;
  padding-left: 2rem;
  padding-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fila-imagen-sobreNdos {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.img-pages-sobreNdos {
  width: 100%;
  height: auto;
  display: block;
}

.fila-textoImg-sobreNdos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo-sobreN-img {
  font-family: "latoRegular";
  color: #ffffff;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.subtitulo-sobreN-img {
  font-family: "kanitSemibold";
  color: #ffffff;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
}

.parrafo-sobreN-img {
  font-family: "latoRegular";
  color: #ffffff;
  font-size: 0.9rem;
}

.boton-img-sobreN {
  font-family: "kanitRegular";
  background-color: #d2153d;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border: none;
  font-size: 1rem;
  margin-top: 0.2rem;
}

.boton-img-sobreN:hover {
  background-color: #f81847;
  font-weight: lighter;
}

.cajas-sobreN {
  width: 100vw;
  height: auto;
}
.fila-cajas-numero {
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
}
.caja-numeros-sobreN {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 7rem;
  margin-left: 4rem;
  background-color: #ffffff;
  box-shadow: 5px 7px 9px 1px rgba(191, 191, 191, 0.55);
}
